@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: var(--background);
  --font-lato: "Lato", sans-serif;
  --green: #979f77;
  --beige: #eee2d4;
  --background: #fcf9f6;
}

/* button {
  margin-top: 0 !important;
} */

.menu {
  width: 100%;
  height: 100%;
  background: transparent;
}

.menu li {
  position: relative;
  height: 100%; /* Prend toute la hauteur de ul */
  display: flex;
  align-items: center; /* Centre le texte verticalement */
}

.menu li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #6db19b;
  transition: width 0.4s ease-in-out;
}

.menu li:hover::before {
  width: 100%;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
